{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
{% dump(guitars) %}
    <!-- bootstrap user profile -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-5 py-5">
                <div class="user-profile">
                    <div class="d-flex">
                        <div>
                            <img src="{{ asset("images/" ~ profile_page.image) }}" alt="User profile" style="width:200px; height:200px; object-fit:cover">
                        </div>
                        <div style="width:100%;margin-left:20px">
                            <table class="table table-bordered">

                                <!-- add your own data -->

                                <!--tr 1 -->
                                <tr>
                                    <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Nom</td>
                                    <td>{{ profile_page.firstName }}</td>
                                </tr>

                                <!--tr 2 -->
                                <tr>
                                    <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Prènom</td>
                                    <td>{{ profile_page.lastName }}</td>
                                </tr>

                                <!--tr 3 -->
                                <tr>
                                    <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Pseudo</td>
                                    <td>{{ profile_page.pseudo }}</td>
                                </tr>

                                <!--tr 4 -->
                                <tr>
                                    <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">email</td>
                                    <td>{{ profile_page.email }}</td>
                                </tr>

                                <!--tr 5 -->
                                <tr>
                                    <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Nombre d'instruments</td>
                                    <td>{{ guitars }}</td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
