{% extends 'base.html.twig' %}

{% block title %}Guitar{% endblock %}

{% block body %}
<div class="container overflow-hidden mb-5">
    <h1 class="mb-5">{{ brand.name }} {{ guitar.model }}</h1>

    <div class="row">
        <div class="col-md-6">
            <img class="collection-image" src="{{ asset("images/" ~ guitar.image) }}"
                alt="{{ brand.name }} {{ guitar.model }}">
        </div>

        <div class="col-md-6">
            <div class="p-3 border bg-light">
                <h2>Caratéristiques</h2>
                <p>Etat: {{ guitar.wear }}</p>
                <p>Finition: {{ guitar.finition }}</p>
                <p>Micros: {{ guitar.pickups }}</p>
                <p>Manche: {{ guitar.neckMaterial }}</p>
                <p>Gaucher/Droitier:
                    {% if guitar.dominationHand == true %}
                    Droitier
                    {% else %}
                    Gaucher
                    {% endif %}
                </p>
                <p>Nombre de frettes: {{ guitar.nbFrets }}</p>
                <p>Fixation du manche:
                    {% if guitar.fixation == true %}
                    Collé
                    {% else %}
                    Vissé
                    {% endif %}</p>
                <p>Corps: {{ guitar.bodyMaterial }}</p>
                <p>Forme: {{ guitar.bodyForm }}</p>

            </div>
        </div>
    </div>

<a class="btn btn-info form-btn" title="Retour à la liste" alt="Bouton retour"
    href="{{ path('back_office_collection_browse') }}">Retour à la liste</a>

<a class="btn btn-success form-btn" title="Modifier" alt="Bouton modifier"
    href="{{ path('back_office_collection_edit', {'id': guitar.id}) }}">Modifier</a>

<form method="post" action="{{ path('back_office_collection_delete', {'id': guitar.id}) }}"
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guitar.id) }}">
    <button class="btn btn-danger form-btn" title="Supprimer" alt="Bouton Supprimer">
        Supprimer l'élément
    </button>
</form>
</div>


{% endblock %}