{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    {# {{ dump(home_page) }} #}
    <main>
        <div class="content">
            <h1 class="home-title">Guitare Collection</h1>
            <h2 class="home-sub-title">Recensez votre collection</h2>
            <p class="home-paragraphe">Pour les amoureux et les passionnés de guitares, photographiez <br> vos
                instruments, enregistrez les et partagez les</p>
        </div>


        <section>
            <div class="container">
                <div class="row">
                    {% for post in home_page %}
                    <div class="col-md-4">
                        <a href="{{ path("post_show", {"id": post.id}) }}">
                            <div class="card collection-card">
                                <img class="collection-image" src="{{ asset("images/" ~ post.image) }}"
                                     class="card-img-top" alt="Picture {{ post.image }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.presentation }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </section>

    </main>

{% endblock %}