{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main>
 
    <div class="container font-family">
        <p><a class="link-dark" href="{{ path("home_Page") }}">Accueil</a>
            >
            <a class="link-dark" href="{{ path("brand_page") }}">Marques </a>
            >
        </p>
    <img class="mb-2" src="{{ brand_show.image }}" alt="{{ brand_show.name }} logo">
        <div class="row">
            {% for guitar in guitars %}
            <div class="col-md-3">
                <div class="card collection-card">
                    <a href="{{ path("collection_show", {"id": guitar.id}) }}">
                        <img class="collection-image" src="{{ guitar.image }}" alt="{{ guitar.name }}">
                        <h2 class="text-center">{{ guitar.name }}</h2>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}