{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main>
  <h1 class="text-center collection-title">Posts</h1>

  <div class="container pb-5 font-family">
    <p><a class="link-dark" href="{{ path("home_Page") }}">Accueil</a>
      >
      <a class="link-dark" href="{{ path("post_page") }}">Posts</a>
      >
      {{ post_show.title }}
    </p>

    <div class="row mb-3">
      <div class="col-md-6">
        <img class="collection-image" src="{{ post_show.image }}" alt="post image">
      </div>

      <div class="col-md-6">
        <h2>{{ post_show.title }}</h2>
        <h4 class="text-black-50">{{ post_show.presentation }}</h4>
        <button type="button" class="btn btn-outline-primary">{{ category.name }}</button>
      </div>
    </div>
      <p>{{ post_show.synopsis }}</p>
</main>
{% endblock %}